html {
    min-height: 100%;

}

body {
    /* background-image: url("assets/sprites/wall.png"); */
    /* background-repeat:repeat;*/
    /* background-color: rgb(67,67,67); */
    background-color: black;
    font-family: 'Press Start 2P';
    word-wrap: break-word;
    align-items: center;
    margin: 0;
    padding: 0;
}


/*HEADER---------------------------------------------------*/

header {

    padding: 0em 0 1em 0;
    background: black;
    height: 4em;
    /* margin:2em; */
}

.header-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /*nav lineal*/
    align-items: center;

}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: block;
    padding: 0.5rem 1rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky+.content {
    padding-top: 110px;
}


/*scrooll-Top*/
html {
    scroll-behavior: smooth;
}

.scroll-Top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #fff;
    background-image: url(./assets/Pagina/up.png);
    border-radius: 25%;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 1s;

}

.scroll-Top.active {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}



/*titulo*/
.titulo-container {
    padding: 0em 0.5em 1em 1em;
}

.titulo-icon {
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
}

.icon-sangre img {
    width: 3em;
    height: 3em;
    border-radius: 1em;
    padding-top: 0.8em;
    margin: 0.1em;
}

.titulo-juego a {
    font-size: 25px;
    color: rgb(153, 0, 0);
    text-decoration: none;
    text-shadow: 0 -3px rgb(224, 102, 102);
    padding-bottom: 0;
    margin: 0;

}

.nombre-studio {

    position: relative;
    left: 8em;
    font-size: 10px;
    color: rgb(224, 102, 102);

    margin-top: -10px;

}



/*nav*/

.nav-menu a:hover {
    background: rgb(153, 0, 0);
    border-radius: 1.5em;
}

.nav-menu {
    font-size: 10px;
}


a:hover {
    text-decoration: none;
    color: #dddddd;
}

nav a {
    text-decoration: none;
    color: #c5c5c5;
}

/*GAME CANVAS---------------------------------------------------*/


 #game {
    padding-top:2em;

} 

#juego {
    background: rgb(109, 109, 109);
    margin: 2em auto;
    border: 4px solid hsl(0, 100%, 30%);

} 

/*SECTION---------------------------------------------------*/

.about {

    padding: 10em 10em 15em 10em;
    /*centrar dentro del main*/

    margin: 1em;

}

.section-title {

    border: 3px solid rgb(153, 0, 0);
    text-align: center;
    color: #c5c5c5;
    width: 600px;

    font-size: 15px;
    padding: 1px;
    border-radius: 1.5em;
    margin: 2em auto;
    /*centrar dentro del main*/


}

.texto {
    color: #c5c5c5;
    font-size: 0.6em;
    text-indent: 40px;
    line-height: 4;
}

.parrafo {
    padding-top: 3em;
}

/*FOOTER---------------------------------------------------*/

/* Solid border */
hr.solid {
    border: 1px solid rgb(153, 0, 0);
    background-color: rgb(153, 0, 0);
    width: 80%;
    margin-top: 5em;
}

footer {
    padding: 1.5em;
    bottom: 0;
}

.footer-container {
    width: 80%;
    margin: 0 auto;

    justify-content: space-between;

}



footer img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 1em;
    margin: 0.8rem;
    opacity: 0.9;
}

footer img:hover {
    opacity: 0.5;
}

footer p {
    color: #c5c5c5;
    font-size: 0.5em;
    line-height: 2;
}

footer nav {
    margin: 0 auto;
    width: 100%;
}